[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
jupyter = "*"
numpy = "*"
black = "*"
tensorboard = "*"
transformers = {extras = ["torch"], version = "*"}
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
